<div class="landing">
  <br />
  <div class="welcome-box col-8 offset-2 hidden-xs-down text-center">
    <h1>Welcome to VPCalc</h1>
    <p>
      Stupid place holder stuff... Were not even sure if were going to call it VPCALC of VPCalc!
    </p>
  </div>
</div>

<div class="row info-pane">
  <div class="col-md-3 offset-1 col-10 info-box">
    <h2 class="full-link"><%= link_to 'Select Game', games_path %><h2>
    
  </div>
  <div class="col-md-3 offset-1 col-10 info-box">
    <h2>Learn More</h2>
  </div>
  <div class="col-md-3 offset-1 col-10 info-box">
    <h2>Find Machines</h2>
  </div>
</div>