@import "bootstrap";

.navbar{
    background-color: black;
    color: #18716e;
    
}

.navbar-brand{
    font-family: 'metroregular';
}


.lgn-btn{
    background-color: black;
    color: #18716e;
    border-color: #18716e;
}

.lgn-btn:hover{
    cursor: pointer;
}

.landing {
  background: image_url('splash3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 420px;

}



.welcome-box{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 25px #f6ec3f;
    padding: 5px;
}





