@import "bootstrap";

html {
  position: relative;
  min-height: 100%;    
}

body{
    background: image_url('bg1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin-bottom: 75px;
}

.navbar{
    background-color: black;
    color: #18716e;    
}

.navbar-brand{
    font-family: 'metroregular';
    
}

a.navbar-brand{
    color: #18716e;
}

a.navbar-brand:hover {
    color: #18716e;
    text-decoration: none;
}

.lgn-btn{
    background-color: black;
    color: #18716e;
    border-color: #18716e;
}

.lgn-btn:hover{
    cursor: pointer;
}

.landing {
  background: image_url('splash3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 420px;
  box-shadow: 2px 2px 8px black;

}



.welcome-box{
    background: rgba(0, 0, 0, 0.5);
    color: white;
    margin: auto;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 25px #f6ec3f;
    padding: 5px;
}

.info-box {
    background: rgba(255, 255, 255, 0.2);
    text-align: center;
    border: 1px solid black;
    margin: auto;
    margin-top: 25px;
    box-shadow: 2px 2px 8px black;
    border-radius: 5px;

}

.info-pane {
    width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.footer {
    text-align: center;
    background-color: black;
    color: #18716e;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.pages {
    margin:0 auto;
    min-height:100%;
    padding-bottom:-30px;
    position: relative; 
}

a{
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.drop-down {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
}

.hand-box {
    margin-left: 115px;
    margin-top: 50px;

    
}

.card-box {
    border: 1px solid black;
    border-radius: 2.8%;
    width: 100.5px;
    height: 140px;
    background-color: green;
    margin: 5px;

}

.calculate-btn {
    background-color: green;
    border: 1px solid black;
    width: 100px;
    margin: auto;
    margin-top: 25px;
}

