<!DOCTYPE html>
<html>
  <head>
    <title>VPcalc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light justify-content-between"><a class="navbar-brand">VPCALC</a>
      <div>
        <button class="btn lgn-btn my-2 my-sm-0" type="log-in">Login</button>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
